@model ExpertCenter.Models.AddProductViewModel

<h3>Добавление товара</h3>

<hr ></hr>

<form method="post" asp-action="CreateProduct">
    <input value="@Model.PriceListId" asp-for="PriceListId" hidden/>

    <div style="margin-top: 15px">
        <h5>Название</h5>
        <input type="text" asp-for="ProductName" class="form-control"></input>
    </div>

    <div style="margin-top: 15px";>
        <h5>Код товара</h5>
        <input type="text" asp-for="Code" class="form-control"></input>
    </div>

    <div style="margin-top: 15px">
        <table cellspacing=0 class="table table-bordered table-inverse" width=100%>
            <tbody>
                @foreach (var column in Model.UserColumns)
                {
                    <tr>
                        <td style="font-size: 18px; text-align: left; vertical-align: middle;">@column.Header</td>
                        <td>
                            @{
                                if (column.Type == null) continue;

                                switch (column.Type.Code)
                                {
                                    case "num":
                                        <div data-mdb-input-init class="form-outline">
                                            <input asp-for="UserColumnValues[column.Id]" type="number" id="typeNumber" class="form-control" />
                                        </div>
                                        break;
                                    case "text":
                                        <input asp-for="UserColumnValues[column.Id]" type="text" class="form-control"></input>
                                        break;
                                    case "multitext":
                                        <textarea asp-for="UserColumnValues[column.Id]" class="form-control" aria-label="With textarea"></textarea>
                                        break;
                                    default:
                                        <input asp-for="UserColumnValues[column.Id]" type="text" class="form-control"></input>
                                        break;
                                    }
                                }
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>

    <div class="d-flex flex-row-reverse" style="margin-top: 15px; ">
        <button class="btn btn-secondary" type="button" onclick="location.href='@Url.Action("PriceList", "PriceLists", new { id = Model.PriceListId })'">Назад</button>
        <button class="btn btn-success" style="margin: 0px 5px" type="submit">Сохранить</button>
    </div>
</form>