@model IEnumerable<ExpertCenter.Domain.PriceList>

<div class="d-flex flex-row-reverse">
    <button onclick="location.href='https://localhost:7058/pricelists/new'" type="button" class="btn btn-primary align">Создать новый</button>
</div>

<table class="table">
    <tbody>
        <theader>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
            </tr>
        </theader>
        
        @{
            int index = 1;
            foreach (var priceList in Model)
            {
                <tr><td>@(index++)</td><td>@Html.ActionLink(priceList.Name, "PriceList", new { Id = priceList.Id })</td></tr>
            }
        }
    </tbody>
</table>